:local(.mainContainer) {
    box-sizing: border-box;
    width: 50vw;
    height: 80vh;
    padding: 4rem;
    background-color: #76ad0fd5;
    -webkit-box-shadow: -1px 5px 36px -1px rgba(0, 0, 0, 0.61);
    box-shadow: -1px 5px 36px -1px rgba(0, 0, 0, 0.61);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: top;
    display: flex;

    align-items: center;
    margin-bottom: 12px;

    :local(.labelSlct) {
        padding-bottom: 1rem;
        font-size: 16px;
    }

    :local(.btnPlan) {
        padding-top: 1rem;
    }

    :local(.selectPlan) {
        background-color: #ffffff;
        border: 1px solid #dde3ed;
        box-sizing: border-box;
        border-radius: 4px;
        height: 2.5rem;
        font-family: "Poppins", "sans-serif";
        font-size: 12px;
        padding-left: 1rem;
        padding-right: 1rem;
        font-weight: bold;
        width: 12rem;
        color: #afbacc;
        outline: none;
        &:focus {
            background: #ffffff;
            border: 2px solid #1f61f7;
            box-sizing: border-box;
            border-radius: 4px;
            color: #1f61f7;
        }
        option {
            font-family: Poppins;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            font-weight: bold;
            color: black;
            border: 1px solid;
            box-sizing: border-box;
            margin-top: 0.5rem;
        }
    }
}
