:local(.buttonPlan) {
    display: flex;
    flex-direction: row;
    padding: 8px 32px;
    width: 113px;
    height: 48px;
    background: #1f61f7;
    border-radius: 1000px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
}
