:local(.cardPlan) {
  width: 328px;
  height: auto;
  background: #ffffff;
  border-radius: 8px;

  :local(.cardHeader) {
    height: 192px;
    border-radius: 8px;

    :local(.imageCont) {
      background-color: #cfcccc;
      width: 328px;
      height: 150px;
      border-radius: 8px;
      :local(.image) {
        width: 328px;
        height: 192px;
        border-radius: 8px 8px 0px 0px;
      }
    }

    :local(.label) {
      width: 52px;
      height: 20px;
      background: #1f61f7;
      border-radius: 4px;
      margin-left: 1rem;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.2px;
      color: #f5f7fa;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  :local(.cardBody) {
    padding: 1rem;
    :local(.titulo) {
      width: 216px;
      height: 24px;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #060b25;
    }

    :local(.parrafo) {
      width: auto;
      height: auto;
      padding-top: 0.5rem;
      font-weight: normal;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #58606e;
    }
  }
}

:local(.saveBtn) {
  align-self: flex-end;
  text-align: end;
}

:local(.multiSelectContainer) {
  // width: 85%;
  margin-bottom: 20px;
}

:local(.containerInput) {
  margin-bottom: 25px;

  :local(.label) {
    padding: 10px 0;
    font-size: var(--small-size);
  }

  :local(.input) {
    display: grid;
    grid-template-columns: 1fr 40%;
    column-gap: 20px;

    :local(.atributeInput) {
      width: 100%;
    }

    :local(.example) {
      align-self: center;
      font-style: italic;
      color: #9d9d9d;
    }
  }
}
